{% extends 'base.html' %}

{% block content %}

<h1> Play Now</h1>

<form class="play-game" action="" method="post">

    <div>
        <label for="name1">Player1</label>
        <input type="text" name="name1" id="name1">

        <label for="choice1">Choice</label>
        <input type="text" name="choice1" id="choice1">
    </div>

    <pre></pre>

    <div><label for="name2">Player2</label>
        <input type="text" name="name2" id="name2">

        <label for="choice2">Choice</label>
        <input type="text" name="choice2" id="choice2">
    </div>
    <pre></pre>
    <input type="submit" value="Play">

</form>


</p>
</div>

{% endblock  %}